
<div class="jumbotron">
   Teste - LUIS ALBERTO SILVA <br />
   E-mail: LUISALB.SILVA@HOTMAIL.COM 
</div>

<div class="row">
    <nav>
        <ul id="menu">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Usuarios", "Index", "Usuarios")</li>
        </ul>
    </nav>
</div>